@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Tastes of Macedonia</h1>
        <p>Tastes of Macedonia is a Web application that helps the users to find the restaurants according to their requirements. The main aim of the project is to provide the users an easy to use application that helps them to find restaurants according to their tastes and convenience. With the help of OpenStreetMap users will be able to find restaurants in Macedonia, see their working hours, as well as the exact address and the phone number of the restaurants.</p>

        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

<div class="row">
    
</div>